<div class="row">
	<div class="span1">Name</div>
	<div class="span11"><p><input type="text"/></div>
</div>
<div class="row">
	<div class="span1">Email</div>
	<div class="span11"><p><input type="text"/></div>
</div>
<div class="row">
	<div class="span1">Message</div>
	<div class="span3"><p><input type="text"/></div>
</div>
	<div class="row">
	
	<div class="span9"><input type="button" value="Submit"/></div>
	
</div
