
<div>

	<div class="row">
		<div class="span4" style="background-color:#efefef; ">
			<ul class="nav nav-list">
				<li class="active">Classes</li>
				<li>Teachers</li>
				<li>Subject</li>
				<li>Sports</li>
				

			</ul>

		</div>
		<div class="span4">
		<h1>welcome home</h1>


			<form>
				<input type="text" placeholder="username"/>
				<input type="password" placeholder="password"/>
				<p><input type="button" value="signup"/></p>
				<p><%=link_to "Register!", pages_register_path%></p>



			</form>
		</div>
		<div class="span4"></div>
	


			
	</div>
	


		

	
	
</div>