<h1> FORM</h1>
<div class="span6">

	<form>

		<P><input type="text" placeholder="Firstname"/><P>
		<P></P><input type="text" placeholder="Secondname"/></P>
		<P></P><input type="text" placeholder="Genda"/></P>
		<P></P><input type="text" placeholder="Date of birth"/></P>
		<P></P><input type="text" placeholder="Age"/></P>
		
	</form>
	<select>
		<option>classes</option>
		<option>Baby</option>
		<option>Middle</option>
		<option>Top</option>
		<option>Class1</option>
		<option>Class2</option>
	</select>
	<form>
		<p><input type="button" value="Register"/></p>
		
		<p><%=link_to "Login", root_path%></p>
	
	<form>
			
</div>
<div class="span6"></div>
			
</div>
<div>

	<div class="row">
		<div class="span4">
	</div>

	<div class="span4">

	</div>
<div class="span4">

